
.icon-data:before { content: '\e801'; } /* '' */
.icon-loop-people:before { content: '\e802'; } /* '' */
.icon-people:before { content: '\e803'; } /* '' */
.icon-activity:before { content: '\e804'; } /* '' */
.icon-filter:before { content: '\e805'; } /* '' */
.icon-graph:before { content: '\e806'; } /* '' */
.icon-setting:before { content: '\e807'; } /* '' */
.icon-loop:before { content: '\e808'; } /* '' */
